<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="CoffeeBean"
           Language="1033"
           Version="$(var.InstallerVersion)"
           Manufacturer="PolarGoose"
           UpgradeCode="064b3153-03ef-4a90-a61d-f23a21fb2435"
           InstallerVersion="200"
           Scope="perUser">
    <MajorUpgrade AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="CoffeeBean" Level="1">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>
  </Package>

  <Fragment>
      <StandardDirectory Id="DesktopFolder">
        <Component Id="DesktopShortcut" Guid="C78CE6D0-9888-4638-A801-4393F440C36B">
          <Shortcut Id="Shortcut"
                    Name="CoffeeBean"
                    Target="[INSTALLFOLDER]CoffeeBean.exe"/>
        </Component>
      </StandardDirectory>

      <StandardDirectory Id="AppDataFolder">
        <Directory Id="INSTALLFOLDER" Name="CoffeeBean">
          <Component Id="ProductComponent" Guid="5B5B34D4-6032-4A31-86FC-E4C833976774">
            <File Source="$(var.CoffeeBean.TargetPath)" />
            <File Source="$(var.CoffeeBean.TargetPath).config" />
            <RegistryKey Id="AutoStartRegistryKey"
                         ForceCreateOnInstall="yes"
                         Root="HKCU"
                         Key="Software\Microsoft\Windows\CurrentVersion\Run">
              <RegistryValue Name="CoffeeBean" Type="string" Value=""/>
            </RegistryKey>
          </Component>
        </Directory>
      </StandardDirectory>
  </Fragment>
</Wix>
